body {
    margin: 0px;
}


table {
   table-layout: fixed;
   width: 100%;
}
/* table tr{
    font-family: sans-serif;
} */

.Wraper {
    margin: 30px;
}

/* ヘッダー用 */
.Header {
    font-family: Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
    background-color: rgb(0, 0, 0);}
    .Header__title{
        margin-left: 30px;
        color: white;
    }

/* フッター用 */
.Footer {
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 100%;
    clear: both;
    border-top: 1px;
    border-bottom: 1px;
    margin-top: 30px;}
    .Footer__text{
    text-align: center;
    color: rgb(255, 255, 255);
    }